@model impacta_Projeto04.Models.Tarefa

@{
    ViewData["Title"] = "Exlcuir Tarefas";
}
<h1 class="mt-3">Excluir Tarefas</h1>
<hr />
<div id="excluir" class="container">
    <h4>Tem certeza que deseja excluir esse cliente?</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TarefaID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TarefaID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataConclusao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataConclusao)
        </dd>
    </dl>
    <form id="formExcluir" asp-action="Delete">
        <input type="hidden" asp-for="TarefaID" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a class="btn btn-light" asp-action="Index">Voltar</a>
    </form>
</div>